---
import { Image } from 'astro:assets'
import Button from '../UI/Button.astro'

const { img, title } = Astro.props
---

<article
  class='flex flex-col justify-center items-center rounded-[2em] py-10 gap-y-7'
>
  <Image
    src={img}
    alt='image of person using our product'
    width={img.width}
    height={img.height}
    class='h-auto sm:w-auto w-[100px]'
  />
  <h2
    class='text-neutral font-bold uppercase text-[1.3rem] underline decoration-1 underline-offset-[20px] decoration-indigo-300/30'
  >
    {title}
  </h2>
  <p class='text-[0.720rem] px-7 mt-2 text-neutral'>
    Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet porttitor
    rhoncus libero justo laoreet sit amet vitae.
  </p>
  <Button> try it now </Button>
</article>
<style>
  article {
    background: radial-gradient(#433d60, #211e2e);
  }
</style>
