---
import HeaderSection from '../UI/HeaderSection.astro'
import ProcessInfo from './ProcessInfo.astro'
---

<section class='flex flex-col px-16 mt-24 gap-y-20'>
  <HeaderSection title='how we build' subtitle='with hydra vr?' />
  <ProcessInfo />
</section>
