---
import HeaderSection from '../UI/HeaderSection.astro'
import ProcessInfo from './ProcessInfo.astro'
---

<section class='flex flex-col sm:px-16 px-10 sm:mt-24 mt-16 sm:gap-y-20 gap-y-10'>
  <HeaderSection title='how we build' subtitle='with hydra vr?' />
  <ProcessInfo />
</section>
