---
import ArrowSmallRight from '@/icons/arrow-small-right.astro'

const { number, title } = Astro.props
---

<div class='flex flex-col justify-center items-center gap-y-5'>
  <span
    class='rounded-full bg-gradient-right size-[140px] text-[var(--base-color)] font-bold text-[3rem] flex items-center justify-center'
    >{number}</span
  >
  <div class='flex justify-center'>
    <ArrowSmallRight class='size-12' />
    <span class='font-bold text-neutral max-w-[50%]'>{title}</span>
  </div>
</div>
