---
import ArrowSmallRight from '../../icons/arrow-small-right.astro'
import Button from '../UI/Button.astro'
---

<article
  class='flex flex-col sm:items-stretch items-center sm:justify-center justify-around gap-y-10 sm:pl-16 sm:pt-0 pt-20'
>
  <h1
    class='sm:text-main-title text-[1.7rem] font-bold sm:text-pretty text-center sm:max-w-[456px]'
  >
    <span class='text-gradient-to-left'>Dive</span>
    <span class='text-neutral'>into the Depths of</span>
    <span class='text-gradient-to-right'>Virtual Reality</span>
  </h1>
  <p
    class='text-paragraph text-pretty text-neutral sm:max-w-[70%] max-w-[80%] max-h-[72px]'
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore nisl tincidunt eget. Lectus mauris
    eros in vitae .
  </p>
  <div class='flex items-center'>
    <Button> let's get in touch </Button>
    <ArrowSmallRight class='size-20 sm:flex hidden' />
  </div>
</article>
<style>
  article {
    background-image: url('../../assets/hero/info-bg.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 13.3em;
  }
  .text-gradient-to-left {
    background: var(--gradient-color-left);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-gradient-to-right {
    background: var(--gradient-color-right);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
