---
import HeaderSection from '../UI/HeaderSection.astro'
import AboutImage from './AboutImage.astro'
import AboutInfo from './AboutInfo.astro'
---

<section class='sm:px-16 px-10 sm:mt-24 mt-16'>
  <HeaderSection title='introduction' subtitle='to hydra vr' />
  <div class='sm:mt-20 mt-10 grid sm:grid-cols-2'>
    <AboutImage />
    <AboutInfo />
  </div>
</section>
<style>
  div {
    background-image: url('../../assets/about/about-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
