---
import AboutHeader from './AboutHeader.astro'
import AboutImage from './AboutImage.astro'
import AboutInfo from './AboutInfo.astro'
---

<section class='px-16 mt-24'>
  <AboutHeader />
  <div class='mt-20 grid grid-cols-2'>
    <AboutImage />
    <AboutInfo />
  </div>
</section>
