---
import ArrowBigRight from '@/icons/arrow-big-right.astro'
---

<article class='grid grid-cols-2 text-neutral'>
  <div class='flex flex-col uppercase text-subtitle'>
    <h2 class='flex flex-col font-bold'>introduction</h2>
    <span class='flex font-light items-center gap-x-3'>
      to hydra vr
      <ArrowBigRight />
    </span>
  </div>
  <p class='text-paragraph text-pretty'>
    Vitae sapien pellentesque habitant morbi tristique senectus et netus et.
    Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris
    commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet
    tellus. Ornare lectus sit amet est placerat in. Lectus magna fringilla urna
    porttitor rhoncus vitae.
  </p>
</article>
