---
import ContactInfo from '@/components/Contact/ContactInfo.astro'
import Hero from '../components/Hero/Hero.astro'
import Layout from '../layouts/Layout.astro'
import About from '@/components/About/About.astro'
---

<Layout title='Welcome to Astro.'>
  <main>
    <Hero />
    <ContactInfo />
    <About />
  </main>
</Layout>
