---
import GradientLine from '@/icons/gradient-line.astro'
import ContactForm from './ContactForm.astro'
---

<section
  class='sm:mx-16 mx-5 mt-24 flex flex-col items-center gap-y-5 py-20 rounded-[3em]'
>
  <h2 class='uppercase text-subtitle font-bold text-neutral'>join hydra</h2>
  <GradientLine />
  <h3 class='sm:text-subtitle text-[1.5rem] font-light text-neutral sm:text-nowrap text-center'>
    Let's Build Your VR Experience
  </h3>
  <ContactForm />
</section>
<style>
  section {
    background: radial-gradient(#403a5f, #211e2e);
  }
</style>
