<form class='mt-5 w-[90%] grid grid-cols-2 gap-5'>
  <input type='text' placeholder='First Name' />
  <input type='text' placeholder='Last Name' />
  <input type='email' placeholder='E-mail' />
  <input type='number' placeholder='Phone Number' />
  <input type='text' placeholder='Subject' class='col-span-2' />
  <textarea
    name='message'
    id='message'
    placeholder='Tell us something...'
    class='col-span-2 min-h-[200px] bg-transparent border rounded-3xl p-5'
  ></textarea>
</form>
<style>
  input {
    @apply bg-transparent rounded-full border pl-5 py-4;
  }
</style>
