---
import { HEADER_NAVIGATION } from '@/constants/header-navigation'
---

<nav
  class='flex justify-around items-center text-neutral font-bold uppercase text-small'
>
  {HEADER_NAVIGATION.map(({ href, value }) => <a href={href}>{value}</a>)}
</nav>
