---
import HeaderLogoImage from '@/assets/header/header-logo-image.astro'
import HeaderLogoText from '@/assets/header/header-logo-text.astro'
---

<a href='#home' class='flex items-center gap-x-3'>
  <HeaderLogoImage />
  <HeaderLogoText />
</a>
