---
import { FOOTER_ICONS } from '@/constants/footer-icons.astro'
import Button from '../UI/Button.astro'
---

<div
  class='h-full flex flex-col sm:items-start items-center gap-y-7 sm:pl-[3em] sm:w-auto w-full'
>
  <h2 class='text-neutral font-bold uppercase'>socialize with hydra</h2>
  <ul class='flex justify-around flex-wrap w-full sm:px-0 px-10'>
    {
      FOOTER_ICONS.map((item) => (
        <div class='bg-secondary rounded-full p-1'>
          <item.icon class='size-5 text-[var(--base-color)]' />
        </div>
      ))
    }
  </ul>
  <Button>build your world</Button>
</div>
