---
import ColumnSeparator from '@/icons/column-separator.astro'

const MENU = ['F.A.Q', 'sitemap', 'conditions', 'licenses']
---

<ul class='flex flex-col pl-[6em] gap-y-2 relative'>
  {MENU.map((item) => <li class='uppercase font-bold text-neutral'>{item}</li>)}
  <ColumnSeparator class='absolute h-full right-0' />
</ul>
