---
import TechInfo from './TechInfo.astro'
import TechSponsors from './TechSponsors.astro'
---

<section class='sm:px-16 px-10 flex flex-col sm:gap-y-16 gap-y-10'>
  <TechInfo />
  <TechSponsors />
</section>
